<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>
    <!-- rev-hash -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- end -->

    <!-- rev-hash -->
    <!-- 自身使用的css -->
    <!--<link href="../style/css/goods_management.css" rel="stylesheet" type="text/css">-->
    <!--<link href="../style/css/uploader.css" rel="stylesheet" type="text/css">-->
    <!-- end -->

</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        @@include('common/sidebar.html')
        @@include('common/header.html')

        <!-- page content -->
        <div class="right_col" role="main">



        </div>
        <!-- /page content -->

        @@include('common/footer.html')

    </div>
</div>

<!-- rev-hash -->
<!-- inject:js -->
<!-- endinject -->
<!-- end -->

<!-- rev-hash -->
<!-- 自身使用的js -->
<!--<script src="../src/fn/index.js"></script>-->
<!-- end -->

</body>
</html>
