<div class="col-md-3 left_col menu_fixed">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title animated bounce"><i class="fa fa-paw"></i>
                <span style="">管控平台</span>
            </a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="http://img.mockuai.com/tms/2017/3/20/upload_ed82c572beb295358c92c025eed00e1f.jpeg" class="img-circle profile_img">
            </div>
            <div class="profile_info animated rubberBand">
                <span>欢迎,</span><span class="sidebar-username"></span>
                <h2>管理员</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>菜单栏</h3>
                <ul class="nav side-menu" data-target_menu="1">
                    <li>
                        <a href="#"><i class="fa fa-home"></i>商城首页<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" data-target_menu="2">
                            <li>
                                <a href="index.html">首页</a>
                            </li>
                        </ul>
                    </li>

                    <li><a href="#"><i class="fa fa-table"></i>商品管理<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" data-target_menu="2">
                            <li>
                                <a href="goods-list.html">商品</a>
                                <ul class="nav child_menu" data-target_menu="3">
                                    <li class="sub_menu">
                                        <a href="goods.html">添加商品</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="goods-price-management.html">价格管理</a>
                            </li>
                            <li>
                                <a href="goods-brand.html">品牌</a>
                                <ul class="nav child_menu" data-target_menu="3">
                                    <li class="sub_menu">
                                        <a href="goods-brand-add.html">添加&编辑品牌</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="goods-category.html">品类</a></li>
                            <li>
                                <a href="goods-tax-template.html">税率模板</a>
                                <ul class="nav child_menu" data-target_menu="3">
                                    <li class="sub_menu">
                                        <a href="goods-tax-template-add.html">添加&编辑税率模板</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="goods-freight-template.html">运费模板</a>
                                <ul class="nav child_menu" data-target_menu="3">
                                    <li class="sub_menu">
                                        <a href="goods-freight-template-new.html">添加&编辑运费模板</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li><a><i class="fa fa-edit"></i>订单管理<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" data-target_menu="2">
                            <li>
                                <a href="order.html">订单</a>
                                <ul class="nav child_menu" data-target_menu="3">
                                    <li class="sub_menu">
                                        <a href="order-detail.html">订单详情</a>
                                    </li>
                                    <li>
                                        <a href="order-refund.html">维权详情</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-sitemap"></i>营销<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" data-target_menu="2">
                            <li>
                                <a href="market-open-shop-history.html">开店记录</a>
                                <!--<ul class="nav child_menu" data-target_menu="3">-->
                                    <!--<li class="sub_menu">-->
                                        <!--<a href="order-detail.html">订单详情</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="order-refund.html">维权详情</a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            </li>
                        </ul>
                    </li>
                    <!--<li><a><i class="fa fa-desktop"></i>财务管理<span class="fa fa-chevron-down"></span></a>-->
                        <!--<ul class="nav child_menu" data-target_menu="2">-->
                            <!--<li>-->
                                <!--<a href="warehouse.html">仓库</a>-->
                                <!--<ul class="nav child_menu" data-target_menu="3">-->
                                    <!--<li class="sub_menu">-->
                                        <!--<a href="warehouse-add.html">添加&编辑仓库</a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <li><a><i class="fa fa-truck"></i>仓库管理<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" data-target_menu="2">
                            <li>
                                <a href="warehouse.html">仓库</a>
                                <ul class="nav child_menu" data-target_menu="3">
                                    <li class="sub_menu">
                                        <a href="warehouse-add.html">添加&编辑仓库</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-group"></i>渠道管理<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" data-target_menu="2">
                            <li>
                                <a href="channel-management.html">渠道</a>
                                <ul class="nav child_menu" data-target_menu="3">
                                    <li class="sub_menu">
                                        <a href="channel-add.html">添加&编辑渠道</a>
                                    </li>
                                </ul>
                            </li>
                            <!--<li>-->
                                <!--<a href="channel-message-config.html">渠道消息配置</a>-->
                            <!--</li>-->
                            <li>
                                <a href="channel-goods.html">渠道商品选择</a>
                                <ul class="nav child_menu" data-target_menu="3">
                                    <li class="sub_menu">
                                        <a href="channel-goods-select.html">关联商品</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!--<li><a><i class="fa fa-cogs"></i>系统<span class="fa fa-chevron-down"></span></a>-->
                        <!--<ul class="nav child_menu" data-target_menu="2">-->
                            <!--<li>-->
                                <!--<a href="system-role-management.html">角色</a>-->
                                <!--<ul class="nav child_menu" data-target_menu="3">-->
                                    <!--<li class="sub_menu">-->
                                        <!--<a href="system-role-add.html">添加&编辑角色</a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="system-account.html">账号</a>-->
                                <!--<ul class="nav child_menu" data-target_menu="3">-->
                                    <!--<li class="sub_menu">-->
                                        <!--<a href="system-account-add.html">添加编辑账号</a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <!--<a data-toggle="tooltip" data-placement="top" title="Settings">-->
                <!--<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>-->
            <!--</a>-->
            <!--<a data-toggle="tooltip" data-placement="top" title="FullScreen">-->
                <!--<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>-->
            <!--</a>-->
            <!--<a data-toggle="tooltip" data-placement="top" title="Lock">-->
                <!--<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>-->
            <!--</a>-->
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="javascript:;" class="logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>