.tile_count {
    .count {
        font-size: 22px !important;
        line-height: 30px !important;

    }
    .tile_stats_count {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
}
