<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>重置密码</title>
    <!-- rev-hash -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- end -->

    <!-- rev-hash -->
    <link href="../style/css/forget-secret.css" rel="stylesheet" type="text/css">
    <!-- end -->

    <!-- rev-hash -->
    <!-- inject:js -->
    <!-- endinject -->
    <!-- end -->

    <!-- rev-hash -->
    <script src="../src/plugin/particleground/jquery.particleground.js"></script>
    <script src="../src/fn/forget-secret.js"></script>
    <!-- end -->
</head>

<body class="login">
<div class="login-content">
    <div id="backgroundJs"></div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>
    <div  contenteditable="true" class="login-top">
        <p class="login-title">纷享汇管理后台</p>
    </div>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form class="form-inline">
                    <h1>重置密码</h1>
                    <div class="form-group item field mb20">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" placeholder="请输入手机号" required="required" data-name="用户名" id="username"/>
                        </div>
                    </div>
                    <div class="form-group item field mb20">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" class="form-control" placeholder="请输入6～20位新密码" required="required" data-name="密码" id="passwd"/>
                        </div>
                    </div>
                    <div class="form-group item field mb20">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" class="form-control" placeholder="请再次输入6～20位新密码" required="required" data-name="密码" id="passwd-verify"/>
                        </div>
                    </div>
                    <div class="form-group item field mb20">
                        <input type="text" class="form-control verify-input i-checkcode mr10 " id="checkcode" placeholder="请输入图形验证码" required="required" data-name="验证码">
                        <span class="verify">
                             <script>
                                 document.write('<img id="verifyCode" title="看不清？换一张" src="'+ Api.domain() + '/verify_code.do" />')
                             </script>
                        </span>
                    </div>
                    <div class="form-group item field mb20">
                        <input type="text" class="form-control verify-input mr10" id="identifyingCode" placeholder="请输入短信验证码" required="required" data-name="验证码">
                        <a class="btn btn-success form-control j-identifyingCode" href="javascript:;" id="btn-verify-tel">获取验证码</a>
                    </div>
                    <div>
                        <a class="btn btn-success btn-success-lg submit" href="javascript:;" id="j-submit" style="width:100%">确 定</a>
                        <a class="btn btn-default btn-default-lg to_login" href="login.html" id="j-back" style="width:100%">返 回</a>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <div class="login-bottom">
        <p>Copyright © 2015-2016 杭州魔筷科技有限公司 浙ICP备15018042号-1</p>
    </div>
</div>

</body>
</html>
