<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>
    <!-- rev-hash -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- end -->

    <!-- rev-hash -->
    <!-- 自身使用的css -->
    <link href="../style/css/goods_management.css" rel="stylesheet" type="text/css">
    <link href="../style/css/uploader.css" rel="stylesheet" type="text/css">
    <!-- end -->

</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        @@include('common/sidebar.html')
        @@include('common/header.html')
        @@include('common/uploader.html')

        <!-- page content -->
        <div class="right_col" role="main">

        <div class="x_panel">
            <div class="x_title"></div>
            <div class="x_content editorContent">
                <div id="brandAdd" class="edit-wrapper">
                    <div class="form-group">
                        <label class="ui-label ui-label-md tr vat"><span class="required-icon">*</span>品牌Logo：</label>
                        <a class="imgUploadBtn brand-img-btn"><i class="fa fa-plus"></i></a>
                    </div>
                    <div class="form-group">
                        <label class="ui-label ui-label-md tr"><span class="required-icon">*</span>品牌名：</label>
                        <div class="inline field item">
                            <input class="form-control form-control-hg" id="brandName" placeholder="请输入品牌名" required="required" pattern="normal" name="品牌名" type="text" data-validate-length-range="1,20">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="ui-label ui-label-md tr">品牌描述：</label>
                        <textarea class="form-control form-control-hg" id="brandDesc" placeholder="请输入品牌描述" maxlength="200" name="品牌描述" type="text"></textarea>
                    </div>
                </div>
                <div class="footer-btn-group">
                    <a class="btn btn-success btn-sm mr10 j-submit">保存</a>
                    <a class="btn btn-default btn-sm ml10 j-cancel">取消</a>
                </div>
            </div>
        </div>

        </div>
        <!-- /page content -->

        @@include('common/footer.html')

    </div>
</div>

<!-- rev-hash -->
<!-- inject:js -->
<!-- endinject -->
<!-- end -->

 <!--rev-hash -->
 <!--自身使用的js -->
<script src="../src/fn/goods-brand-add.js"></script>
 <!--end -->

</body>
</html>
