<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>
    <!-- rev-hash -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- end -->

    <!--rev-hash -->
    <link href="../style/css/order.css" rel="stylesheet" type="text/css">
    <!--end -->

</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        @@include('common/sidebar.html')
        @@include('common/header.html')

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="x_panel">
                <div class="x_title">
                    <h2><small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="fr">
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="orderRefundDetail"></div>
                </div>
            </div>

            <div class="x_panel">
                <div class="x_title">
                    <h2><small>协商记录</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="fr">
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="orderRefundList"></div>
                </div>
            </div>
        </div>

        <!-- /page content -->

        @@include('common/footer.html')

    </div>
</div>

<!-- rev-hash -->
<!-- inject:js -->
<!-- endinject -->
<!-- end -->

<!--rev-hash -->
<script src="../src/fn/order-refund.js"></script>
<!--end -->

<script type="text/template" id="j-template">
    <div id="wizard" class="form_wizard wizard_horizontal">
        <ul class="wizard_steps">
            <li>
                <a href="javascript:;" class="<%if(items[0].refund_status >= 1 ){%><%='done'%><%}else{%><%='disabled'%><%}%>">
                    <span class="step_no">1</span>
                    <span class="step_descr">买家申请维权<br/>
                        <small><%= items.pay_time || items.order_time + '以后' %></small>
                    </span>
                </a>
            </li>
            <li>
                <a href="javascript:;" class="<%if(items[0].refund_status >= 2){%><%='done'%><%}else{%><%='disabled'%><%}%>">
                    <span class="step_no">2</span>
                    <span class="step_descr">商家处理维权<br/>
                        <small><%= items.pay_time || items.order_time + '以后' %></small>
                    </span>
                </a>
            </li>
            <li>
                <a href="javascript:;" class="<%if(items[0].refund_status >= 4){%><%='done'%><%}else{%><%='disabled'%><%}%>">
                    <span class="step_no">3</span>
                    <span class="step_descr">维权完成<br/>
                        <small><%= items.pay_time || items.order_time + '以后' %></small>
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div id="orderRefund">
        <!-- 处理状态 -->
        <div class="box-block">
            <h4 class="j-order-status"><%= ['','等待商家处理退款申请','退款处理中...','商家不同意退款申请','退款完成'][items[0].refund_status] %></h4>
            <p>
                <span class="j-order-info">
                    <% var status = items[0].refund_status;
                    var type = items[0].refund_type;
                    if(status == 1){
                        if(type == 0) { %>
                            收到买家退款申请，请尽快处理
                        <% }else { %>
                            收到买家退款、退货申请，请尽快处理
                        <% }
                    } else if(status == 3) { %>
                        您已经拒绝了本次退款申请，你可以与买家协商后，重新处理
                    <% }else if(status == 4) { %>
                        退款金额<%= (items[0].refund_amount/100).toFixed(2) %>元
                    <% } %>
                </span>
            </p>
            <% if(items[0].refund_status == 1){ %>
                <button class="btn btn-success mr10 J-btn-success">同意买家退款</button>
                <button class="btn btn-danger J-btn-danger">拒绝退款申请</button>
            <% } %>
        </div>
        <!-- 处理状态 -->

        <div class="box-block">
            <div class="form-group">
                <label class="ui-label ui-label-lg tr green">当前处理结果：</label>
                <span class="green"><%= ['','等待商家处理退款申请','退款处理中...','商家不同意退款申请','退款完成'][items[0].refund_status] %></span>
            </div>
            <div class="form-group">
                <label class="ui-label ui-label-lg tr">期望结果：</label>
                <span>
                    <%= items[0].refund_type == 0 ? '退款' : '退款.退货' %>
                </span>
            </div>
            <div class="form-group">
                <label class="ui-label ui-label-lg tr">维权原因：</label>
                <span><%= items[0].refund_reason %></span>
            </div>
            <div class="form-group">
                <label class="ui-label ui-label-lg tr">退款金额：</label>
                <span><%= (items[0].refund_amount/100).toFixed(2) %>元</span>
            </div>
            <div class="form-group">
                <label class="ui-label ui-label-lg tr">维权说明：</label>
                <span><%= items[0].refund_reason %></span>
            </div>
            <div class="form-group">
                <label class="ui-label ui-label-lg tr">渠道佣金：</label>
                <span><%= items[0].refund_reason %></span>
            </div>
            <div class="form-group">
                <label class="ui-label ui-label-lg tr">店主佣金：</label>
                <span><%= items[0].refund_reason %></span>
            </div>
            <div class="form-group">
                <label class="ui-label ui-label-lg tr">分享合伙人佣金：</label>
                <span><%= items[0].refund_reason %></span>
            </div>
            <!-- <div class="form-group">
                <label class="ui-label ui-label-md tr">退款明细：</label>
                <span>实付<%= (items[0].payment_amount/100).toFixed(2) %>元&nbsp;&nbsp;&nbsp;</span>
                <span>折扣<%= (items[0].discount_amount/100).toFixed(2) %>元&nbsp;&nbsp;&nbsp;</span>
                <span>积分抵现<%= (items[0].point/100).toFixed(2) %>&nbsp;&nbsp;&nbsp;</span>
            </div> -->
            <!-- <div class="form-group">
                <label class="ui-label ui-label-md tr">运费：</label>
                <span><%= (data.delivery_fee/100).toFixed(2) %>元</span>
            </div>
            <div class="form-group">
                <label class="ui-label ui-label-md tr">合计优惠：</label>
                <span><%= (data.discount_amount/100).toFixed(2) %>元</span>
            </div>
            <div class="form-group">
                <label class="ui-label ui-label-md tr">实收总计：</label>
                <span><%= (data.total_amount/100).toFixed(2) %>元</span>
            </div> -->
        </div>

        <!-- 订单信息 -->
        <div class="box-block clearfix">
            <div class="form-inline">
                <div class="form-group col-md-6 col-sm-6 col-xs-6">
                    <label class="ui-label ui-label-md tr">订单编号：</label>
                    <span><%= data.order_sn %></span>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-6">
                    <label class="ui-label ui-label-md tr">付款时间：</label>
                    <span><%= data.pay_time %></span>
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group col-md-4 col-sm-4 col-xs-6">
                    <label class="ui-label ui-label-md tr">订单实付金额：</label>
                    <span><%= (data.total_amount/100).toFixed(2) %>元</span>
                </div>
                <div class="form-group col-md-4 col-sm-4 col-xs-6">
                    <label class="ui-label ui-label-md tr">付款方式：</label>
                    <span><%= (data.total_amount/100).toFixed(2) %>元</span>
                </div>
                <div class="form-group col-md-4 col-sm-4 col-xs-6">
                    <label class="ui-label ui-label-md tr">买家：</label>
                    <span><%= data.order_consignee_d_t_o.consignee %></span>
                </div>
            </div>
        </div>

        <!-- 商品信息 -->
        <table class="table table-striped jambo_table bulk_action table-bordered table-condensed">
            <thead>
                <tr>
                    <th class="tc cell-30">商品信息</th>
                    <th class="tc cell-10">单价（元）</th>
                    <th class="tc cell-10">数量</th>
                    <th class="tc cell-10">税费（元）</th>
                    <th class="tc cell-10">优惠金额（元）</th>
                    <th class="tc cell-10">实付金额（元）</th>
                    <th class="tc cell-10">身份</th>
                    <th class="tc cell-10">佣金金额（元）</th>
                </tr>
            </thead>
            <tbody>
            <% _.each(items,function(item,index){ %>
                <tr>
                    <td class="cell-30">
                        <dl>
                            <dt><img class="order-image" src="<%= item.item_image_url  %>"></dt>
                            <dd>
                                <p><%= item.item_name %></p>
                                <p class="sku"><%= item.item_sku_desc %></p>
                            </dd>
                        </dl>
                    </td>
                    <td class="cell-10 tc"><span>单价</span></td>
                    <td class="cell-10 tc"><span><%= item.number %></span></td>
                    <td class="cell-10 tc"><span>税费</span></td>
                    <td class="cell-10 tc"><span><%= (item.discount_amount/100).toFixed(2) %></span></td>
                    <td class="cell-10 tc"><span><%= (item.payment_amount/100).toFixed(2) %></span></td>
                    <td class="cell-10 tc">
                        <p>渠道</p>
                        <p>店主</p>
                        <p>分享合伙人</p>
                    </td>
                    <td class="cell-10 tc">
                        <p>10.11</p>
                        <p>10.11</p>
                        <p>10.11</p>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</script>

<script type="text/template" id="j-template-refund">
        <% _.each(items[0].refund_item_log_list,function(item){ %>
        <div class="refund-list">
            <div class="refund-content">
                <span class="cycle"></span>
                <div class="refund-time">
                <span><%= ['买家','卖家'][item.operator_from] %></span>
                <span><%= item.gmt_created%></span>
                        </div>
                        <div class="mt-15">
                        <p class="mt10">
                <%=['','发起了退款申请，等待商家处理','正在退款中','商家拒绝了本次退款申请','','','商家同意了本次退款'][item.refund_status] %>
                        </p>
                        <% if( item.refuse_reason == '' ){ %>
                <% }else{ %>
                <p>
                    <label>拒绝原因：</label>
                    <span><%= item.refuse_reason %></span>
                    </p>
                    <% } %>

                <% if( item.refund_reason == '' ){ %>
                <% }else{ %>
                <p>
                    <label>退款原因：</label>
                    <span><%= item.refund_reason%></span>
                    </p>
                    <% } %>

                <% if( item.refund_desc == undefined ){ %>
                <% }else{ %>
                <p>
                    <label>退款说明：</label>
                    <span><%= item.refund_desc %></span>
                    </p>
                    <% } %>

                <% if( item.refund_type == '' ){ %>
                <% }else{ %>
                <p>
                    <label>期望结果：</label>
                    <span><%=['退款','退款、退货'] [item.refund_type]%></span>
                    </p>
                    <% } %>

                    <% if( item.refund_amount == '' ){ %>
                    <% }else{ %>
                    <p>
                        <label class="color-gray">退款金额：</label>
                        <span><%= Number((item.refund_amount)/100).toFixed(2) %>元</span>
                    </p>
                    <% } %>
                </div>
                <div>
                    <% _.each(item.refund_image_list,function(i){ %> <span><img class="j-blank" src="<%= i.image_url%>"></span>
                    <% })%>
                </div>
            </div>
        </div>
        <% }) %>
</script>
</body>
</html>
