<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- rev-hash -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- end -->

    <!-- rev-hash -->
    <link href="../style/css/system.css" rel="stylesheet" type="text/css">
    <!-- end -->

</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        @@include('common/sidebar.html')
        @@include('common/header.html')
    </div>
    <!-- page content -->

    <!-- 内容部分 -->
    <div class="right_col" role="main" id="role">

        <div class="x_panel">
            <div class="x_title">
                <h2></h2>
            </div>
            <div class="x_content editorContent">
                <div class="form-inline mb10">
                    <div class="form-group field item">
                        <label class="ui-label ui-label-md tr">角色名称：</label>
                        <input class="form-control form-control-hg name" required="required" name="名称" type="text" maxlength="18"> </div>
                </div>
                <div class="form-inline mb10">
                    <div class="form-group field item">
                        <label class="ui-label ui-label-md tr vat">说明：</label>
                        <textarea class="form-control form-control-hg explain" required="required" name="说明" type="text" maxlength="200"></textarea> </div>
                </div>
                <table class="table table-striped jambo_table bulk_action table-bordered">
                    <thead>
                    <tr class="headings">
                        <th>
                            <input type="checkbox" id="check-all" class="flat">
                        </th>
                        <th class="column-title">菜单名称 </th>
                        <th class="column-title tc">URL地址</th>
                        <th class="column-title">是否是子页面</th>
                        <th class="column-title no-link last tc"><span class="nobr">父页面名称</span></th>
                        <th class="column-title" colspan="7">排序</th>
                    </tr>
                    </thead>

                    <tbody id="tpl-main">
                    </tbody>

                </table>
                <div class="footer-btn-group">
                    <a href="javascript:;" class="btn btn-success btn-sm mr10" id="j-submit">保存</a>
                    <a href="javascript:;" class="btn btn-default btn-sm ml10" id="j-cancel">取消</a>
                </div>
            </div>
        </div>
    </div>
    <!-- page content -->
    @@include('common/footer.html')

</div>
</body>

<!-- rev-hash -->
<!-- inject:js -->
<!-- endinject -->
<!-- end -->


<!-- rev-hash -->
<script src="../src/fn/system-role-add.js"></script>
<!-- end -->

<script id="tpl" type="text/template">
    <% _.each(data,function(item){ %>
    <% if( item.children ){ %>
    <tr class="j-parent" data-id="<%= item.id %>">
        <% }else{ %>
    <tr data-id="<%= item.id %>">
        <%} %>
        <td class="xy_checkbox"><span><input type="checkbox" name="checkbox" class="checkbox flat" data-id="<%= item.id %>"><span></td>
        <td class=""><span><%= item.menu_title %></span><span class="j-caret caret-right"></span></td>
        <td class="tl"><span class="one-line"><%= item.menu_url %></span></td>
        <td class="tc">
                <span>
                <% if( item.parent_id == 0 ){ %>
                    否
                <% }else{ %>
                    是
                <% } %>
                </span>
        </td>
        <td><span>-</span></td>
        <td class="tc"><span><%= item.sort %></span></td>
    </tr>
    <% if( item.children ){ %>
    <% _.each(item.children,function(o,i){ %>
    <tr style="display: none" class="j-children" data-id="<%= o.id %>" data-parent_id="<%= item.id %>" data-name="<%= o.menu_title %>">
        <td class="xy_checkbox" style="text-indent: 20px;">
            <span><label><input class="checkbox flat " type="checkbox" name="checkbox" data-id="<%= o.id %>"></label></span></td>
        <td><%= o.menu_title %><span class="j-caret caret-right tc"></span></td>
        <td class="tl"><span class="one-line"><%= o.menu_url %></span></td>
        <td class="tc">
                                <span>
                                <% if( o.parent_id == 0 ){ %>
                                    否
                                <% }else{ %>
                                    是
                                <% } %>
                                </span>
        </td>
        <td class="tc"><span><%= item.menu_title %></span></td>
        <td class="tc"><span><%= o.sort %></span></td>
    </tr>
    <% if( o.children ){ %>
    <% _.each(o.children,function(obj,z){ %>
    <tr style="display: none;" class="j-children-son" data-id="<%= obj.id %>" data-parent_id="<%= o.id %>" data-grandpa_id="<%= item.id %>">
        <td class="xy_checkbox" style="text-indent: 30px;"><span><label><input class="checkbox flat" type="checkbox" name="checkbox" data-id="<%= obj.id %>"></label></span></td>
        <td class="tc"><%= obj.menu_title %></td>
        <td class="tl"><span class="one-line"><%= obj.menu_url %></span></td>
        <td class="tc">是</td>
        <td class="tc"><%= o.menu_title %></td>
        <td class="tc"><span><%= obj.sort %></span></td>
    </tr>
    <% }) %>
    <% }else{ %>
    <tr style="display: none" class="j-children-son" data-parent_id="<%= o.id %>" data-grandpa_id="<%= item.id %>"><td colspan="18" style="text-align: center!important;">没有任何记录!</td></tr>
    <% }%>
    <% }) %>
    <% }else{ %>
    <tr style="display: none" class="j-children" data-parent_id="<%= item.id %>"><td colspan="18" style="text-align: center!important;">没有任何记录!</td></tr>
    <% } %>
    <% }) %>
</script>
</html>